[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-binance = "*"
ta-lib = "*"
numpy = "*"
websocket-client = "*"
matplotlib = "*"
alpaca-trade-api = "*"
fix-yahoo-finance = "*"
pandas = "*"
lxml = "*"
xmltodict = "*"
html5lib = "*"
bs4 = "*"
selenium = "*"
ipython = "*"
yfinance = "==0.1.63"
pandas-datareader = "*"
plotly = "*"
tacharts = "*"
apimoex = "*"
kaleido = "*"
aiohttp = "*"
aiofiles = "*"
dash = "*"

[dev-packages]

[requires]
python_version = "3.8"
